.fill_animation {
    position: relative;
    margin: 0 0 0 0;
}

.cup {
    position: relative;
    width: 80px;
    height: 100px;
    background-color: rgb(244, 243, 255);
    border-bottom: 5px solid rgb(216, 213, 255);
    border-right: 5px solid rgb(216, 213, 255);
    border-left: 5px solid rgb(216, 213, 255);
    overflow: hidden;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.liquid {
    position: absolute;
    z-index: 3;
    bottom: 0;
    height: 5px;
    width: 80px;
    vertical-align: bottom;
    background-color: rgba(252, 189, 72, 0.80);
    overflow: hidden;

    -webkit-animation-name: drink_fill; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: bottom center;

    animation-name: drink_fill;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes drink_fill {
    0% {transform: scaleX(0)}
    10% {transform: scaleX(1)}
    100% {transform: scaleY(18)}
  }
  
/* Standard syntax */
@keyframes drink_fill {
    0% {transform: scaleX(0)}
    10% {transform: scaleX(1)}
    100% {transform: scaleY(18)}
}

.straw {
    position: absolute;
    opacity: 0;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    height: 120px;
    width: 7px;
    background-color: red;

    animation-name: straw_drop;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes straw_drop {
    from {
        opacity: 1;
        bottom: 100px;
    }
    
    to {
        opacity: 1;
        bottom: 10px;
    }
}

@keyframes straw_drop {
    from {
        opacity: .2;
        bottom: 100px;
    }
    
    to {
        opacity: 1;
        bottom: 10px;
    }
}
