.bottle {
    width: 100%;
    padding: 0 0 0 10px;
    height: auto;
    border-bottom: 2px solid green;
    margin: 5px;
    font-size: 15px;
    color: white;
}

.bottle_name, .bottle_id {
    display: inline;
}
.bottle_id {
    float: right;
}