.bottle {
	border-bottom: 2px solid green;
	color: white;
	font-size: 15px;
	height: auto;
	padding: 0 0 0 10px;
	padding: 1rem;
}

.bottle_name,
.bottle_id {
	display: inline;
}
.bottle_id {
	float: right;
}
