@font-face {
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    src: local('Syncopate Regular'), local('Syncopate-Regular'), url(https://fonts.gstatic.com/s/syncopate/v11/pe0sMIuPIYBCpEV5eFdCBfe_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: rgb(31, 27, 27);
}

.block {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.order {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    padding: 0 0 0 0;
    color: green;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.order_title {
    margin-top: 80px;
    font-weight: bold;
}