@import url('https://fonts.googleapis.com/css?family=Syncopate&display=swap');

body {
    background-color: rgb(31, 27, 27);
}

.order {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    padding: 0 0 0 0;
    color: green;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.order_title {
    margin-top: 80px;
    font-weight: bold;
}