@import url('https://fonts.googleapis.com/css?family=Syncopate&display=swap');

body {
    background-color: rgb(31, 27, 27);
}

.order {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    padding: 50px 0 0 0;
    color: green;
    /* background-color: rgb(31, 27, 27); */
    width: 100%;
    height: auto;
    min-height: 100%;
}

.header {
    font-size: 30px;

}

.menu {
    margin: 50px 0 0 0;
}

.drink {
    height: 100px;
    width: 30%;
    margin: 20px auto;
    border: 2px solid green;
}

.drink:hover {
    border: 5px solid green;
    font-style: italic;
}

.drink_name {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}